<div class="loading" ng-if="song.processing">
	<h5>Loading...<span class="glyphicon glyphicon-music text-info spinner"></span></h5>
</div>

<div>
	<table class="table table-bordered table-striped" ng-show="song.songs">
		<tr ng-repeat="s in song.songs">
			<td>{{ s.title }}</td>
			<td>{{ s.artist_name }}</td>
			<td><a ng-href="/songs/{{ s.tracks[0].foreign_id}}">{{ s.tracks[0].foreign_id}}</a></td>
		</tr>
	</table>

	<table class="table table-bordered table-striped" ng-show="song.sc_songs">
		<tr ng-repeat="s in song.sc_songs">
			<td>{{ s.title }}</td>
			<td>{{ s.user.username }}</td>
			<td><a ng-href="/songs/soundcloud:{{ s.id }} ">{{ s.id }}</a></td>
		</tr>
	</table>

	<table class="table table-bordered table-striped" ng-show="song.sv_songs">
		<tr ng-repeat="s in song.sv_songs">
			<td>{{ s.title }}</td>
			<td>{{ s.artist}}</td>
			<td><a ng-href="/songs/songvis:{{ s._id }} ">{{ s._id }}</a></td>
		</tr>
	</table>

	<div class="alert alert-warning" role="alert" ng-if="song.error">
		<p> {{ song.error }} </p>
	</div>
</div>