/* ANIMATIONS
====================== */
.spinner {
	animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}
 
@keyframes spin {
   from  { transform:rotate(0deg); }
   to    { transform:rotate(360deg); }
}
 
@-webkit-keyframes spin {
   from  { -webkit-transform:rotate(0deg); }
   to    { -webkit-transform:rotate(360deg); }
}
 
@-moz-keyframes spin {
   from  { -moz-transform:rotate(0deg); }  
   to    { -moz-transform:rotate(360deg); }
} 

#progress_bar { 
   border:1px solid #aaa; 
   color:#fff; 
   width:0px;
   height:10px;
   font-size: 0px;  /*  Hack to fix issue with progres aligning in progress bar */
   margin-bottom: 10px;
   visibility: hidden;
}
#progress {
   background-color:#aaa;
   height:8px;
   display:inline-block;
}

.track {
   height:50px;
}